<body>
    <div></div>
    <div class="bodies">
      <div class="colm-form">
        <br>
        <div class="box">
          <form (submit)="submit()" [formGroup]="ForgotPasswordForm">
            <input formControlName="userName" type="text" class="form-control mt-2" placeholder="User Name" />
            <input formControlName="mobilePhone" type="text" class="form-control mt-2" placeholder="Phone Number" /><br>
            <mat-progress-bar *ngIf="displayLoading" class="mt-3" mode="indeterminate"></mat-progress-bar><br>
            <button type="submit" value="Get Password">Get Password</button><br>
            <a style="color: white; margin-left: 34%; text-decoration: none;" routerLink="/login">Already have a Account?</a><br>
            <a style="color: white; margin-left: 37%; text-decoration: none;" routerLink="/">Back to Home Page</a>
          </form>
        </div>
      </div>
    </div>
    <div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
  </body>