.custmSize{
    width: 100%;
    height: 250px;
}
body {
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.6);
    font-family: sans-serif;
   // background-image: linear-gradient(rgba(0,0,0,0.88),rgba(0,0,0,0.88)),url(../images/LoginBack.jpg);
    background-size: cover;
  }
  .nav {
	margin: 27px auto 0;
	position: relative;
	width: 590px;
	height: 50px;
	border-radius: 8px;
	font-size: 0;
}
